.new-wash-wrapper{
  margin:auto;
  text-align: center;
}

.input-group{
  margin-bottom:10px;
}

.vehicle-button{
  display:initial;

}

.vehicle-button button{
  height:130px;
  width:130px;
  font-size:20px;
  margin:1px;

}

.vehicle-price{
  display:block;
  font-size:18px;
}

